<!--heading information-->
<h2>Dr. Fresch</h2>
<h3>Caller ID</h3>
<!--insert embedded tracklist here-->
<div style="display: block; text-align: center;">
    <iframe width="70%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1244926363&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
</div>
<div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100; text-align: center;">
    <a href="https://soundcloud.com/housecallradio" title="House Call Radio: NEW SHOW &quot;CALLER ID&quot; 📟" target="_blank" style="color: #cccccc; text-decoration: none;">House Call Radio: NEW SHOW &quot;CALLER ID&quot; 📟</a> · <a href="https://soundcloud.com/housecallradio/dr-fresch-caller-id-021" title="Dr. Fresch - Caller ID: 021" target="_blank" style="color: #cccccc; text-decoration: none;">
        Dr. Fresch - Caller ID: 021</a>
</div>
<!--header information-->
<div class="tracklistContainer">
    <div class ="header">
        <div class="gridcell-1">
        </div>
        <div class="gridcell-2">
        </div>
        <div>
            <div class="headerTitles">Title/Artist</div>
    
        </div>
        <div>
            <div class="headerTitles">Timestamp</div>
        </div>
        <div>
            <div class="headerTitles">Listen/Get Notified Upon Release</div>
        </div>
    </div>
    <!--tracklist--> 
    <app-song-rows></app-song-rows>   
</div>


<!--logo-->
<div class="logoContainer">
    <img class="logo" src="https://fanpad.xyz/img/logo-white-text.webp">
</div> 
<div class="iconContainer">
    <img class="logoicon" src="https://fanpad.xyz/img/logo-white-image.webp">
</div>

    

