<div  class="box-container max-width hover-shadow">
    <div class="box-content">
        <div class="box-header">
            <!-- TODO: Make titles variable once the variable link is figured out -->
            <h2>Why you're here</h2>
        </div>

        <div class="box-embed">
            <!-- TODO: Tried making the link a variable, but it seems more complicated than I expected -->
            <iframe src="https://www.youtube.com/embed/jqkC7ALWkxw"
                frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="box-container max-width hover-shadow">
    <div class="box-content">
        <div class="box-header">
            <!-- TODO: Make titles variable once the variable link is figured out -->
            <h2>What's coming. . .</h2>
        </div>

        <div class="box-embed">
            <!-- TODO: Tried making the link a variable, but it seems more complicated than I expected -->
            <iframe src="https://www.youtube.com/embed/xSSIwqypRPM" frameborder="0"
                allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="box-container max-width hover-shadow">
    <div class="box-content">
        <div class="box-header">
            <!-- TODO: Make titles variable once the variable link is figured out -->
            <h2>What's happened</h2>
            <!-- <p>Embedded Spotify music is loud by default, so you may want to turn your device volume down!</p> -->
        </div>

        <div class="box-embed spotify-box">
            <!-- TODO: Tried making the link a variable, but it seems more complicated than I expected -->
                <iframe style="border-radius:12px"
                    src="https://open.spotify.com/embed/album/2M1RVe5f4304d0QqSUsen6?utm_source=generator"
                    frameBorder="0" allowfullscreen=""
                    allow="clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        </div>
    </div>
</div>

<div class="box-container max-width hover-shadow">
    <div class="box-content">
        <div class="box-header">
            <!-- TODO: Make titles variable once the variable link is figured out -->
            <h2>Where you need to be</h2>
            <p>Through my FanPad, you’ll start receiving text messages directly from me with updates! Initially, however, this will be
            a 1-way communication channel. To get the full hivis community experience, join the discord below!</p>
        </div>

        <div class="box-embed discord-box">
            <a href="https://discord.gg/NpV7XVwFjZ">
                <img src="https://discordapp.com/api/guilds/773701987069460510/widget.png?style=banner4" alt="">
            </a>
        </div>
    </div>
</div>